<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Jogo</title>
</head>
<body>
<h1> Página de Cadastro de Jogo</h1>
<form method="post" th:action="@{/doCadastrarJogo}" th:object="${jogo}" enctype="multipart/form-data">

    
    Nome: <input type="text" th:field="*{nome}" required><br />
    classificacao: <input type="text" th:field="*{classificacao}" required><br />
    preco: <input type="text" th:field="*{preco}" required> <br />
    desenvolvedores: <input type="text" th:field="*{desenvolvedores}" required> <br />
    genero: <input type="text" th:field="*{genero}" required> <br />
    dataDeLancamento: <input type="text" th:field="*{dataDeLancamento}" required> <br />
    plataformas: <input type="text" th:field="*{plataformas}" required> <br />
    imageUri: <input type="file" name="file" required> <br />
    
    <button type="submit">Cadastrar</button>
</form>
</body>
</html>